// _fonts.scss

@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway Bold;
  src: url(fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
  font-family: Raleway Light;
  src: url(fonts/Raleway/Raleway-Light.ttf);
}
